@use 'vars'

.about-section-hero
  height: 100%
  display: flex
  justify-content: flex-end
  align-items: center

.about-section-hero h2
  font-size: vars.$largest_font
  padding-right: 1.5rem

.about-section-bg-left
  background-image: url('../img/stone_tavern_01.jpg')
  background-size: cover

.about-section-bg-right
  background: vars.$palette-darkest

.about-section-content
  width: 70%
  font-size: vars.$medium_font
  color: white
  letter-spacing: .1rem
  padding-left: 1.5rem