@use 'vars'

.about-inner
  position: relative
  display: grid
  place-content: center

.about-copy
  font-size: vars.$font_3
  font-weight: bolder
  width: 40%

.span-title
  font-family: vars.$main_font
  font-width: boldest
