@use 'vars'
    
.hero-screen
  padding-top: 2em

.hero-title
  font-size: vars.$font_4

.hero-title-sub
  font-family: vars.$secondary_font
  font-size: vars.$font_2
  text-align: end
  color: white
  text-shadow: 2px 2px 4px black

@media screen and ( min-width: 700px  )
  .hero-title
    font-size: vars.$font_7
  