//  Color Palette
$palette_darkest: #1A1913
$palette_brown: #6A6559
$palette_lighter: #938C7E
$palette_dull: #8C847C
$palette_white:  #dddddd


//  Font
@font-face 
  font-family: Studebaker
  src: url(../StudebakerNF.ttf)

$main_font: Studebaker
$secondary_font: 'Lato', sans-serif

$font_7: 9rem
$font_6: 5rem
$font_5: 3rem
$font_4: 2.2rem
$font_3: 1.5rem
$font_2: 1rem
$font_1: .6rem