@font-face {
  font-family: Studebaker;
  src: url(../StudebakerNF.ttf);
}
.hero-screen {
  padding-top: 2em;
}

.hero-title {
  font-size: 2.2rem;
}

.hero-title-sub {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  text-align: end;
  color: white;
  text-shadow: 2px 2px 4px black;
}

@media screen and (min-width: 700px) {
  .hero-title {
    font-size: 9rem;
  }
}
.about-inner {
  position: relative;
  display: grid;
  place-content: center;
}

.about-copy {
  font-size: 1.5rem;
  font-weight: bolder;
  width: 40%;
}

.span-title {
  font-family: Studebaker;
  font-width: boldest;
}

.carousel-container {
  padding-top: 10rem;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
}
.carousel img {
  min-width: 100%;
  max-width: 100%;
  height: 200px;
  padding: 0 2px;
  box-shadow: 4px 2px 4px black;
}

.btn-container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  z-index: 100;
}

.carousel-btn {
  position: relative;
  color: #938C7E;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 0.6rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  transition: 0.5s;
}

.carousel-btn:hover {
  color: #1A1913;
}

.carousel-btn span {
  display: block;
  position: absolute;
  background: #1A1913;
}

.carousel-btn span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s;
}

.carousel-btn:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.3s;
}

.carousel-btn span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.carousel-btn:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s;
}

.carousel-btn span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
}

.carousel-btn:hover span:nth-child(3) {
  transform: scaleX(1);
  transform-origin: top;
  transition: transform 0.3s;
}

.carousel-btn span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.carousel-btn:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: right;
  transition: transform 0.3s;
}

footer {
  background-color: #1A1913;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content {
  color: #dddddd;
}

#map {
  height: 300px;
  width: 100%;
  background: white;
  margin-bottom: 0.5em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}

body {
  background-image: radial-gradient(#938C7E, #dddddd);
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: Studebaker;
}

ul {
  list-style: none;
}

.silo {
  width: 100%;
  height: 100vh;
}

.screen {
  height: 100vh;
  min-height: 600px;
}

/*# sourceMappingURL=style.css.map */
